  
  .top,
  .bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .city {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
  }
  
  .weather-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    margin-top: 2px;
  }
  
  .weather-icon {
    width: 100px;
  }
  
  .temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
  }
  
  .details {
    width: 100%;
    padding-left: 20px;
  }
  
  .parameter-row {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
  }
  
  .parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
  }
  
  .parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
  }
  
  .parameter-label.top {
    border-bottom: 1px solid #fff;
  }
  